// Override default variables before the import
$body-bg:#111726;
$theme-colors: (
  "primary":#9359ea,
  "dark":black,
  "alert": #f24062,
  "light":white,
);

.search{
  width: 100vw;
  position: fixed;
  top:0;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';